@font-face {
    font-family: "Noto Sans";
    font-weight: normal;
    font-style: normal;
    src: local("Noto Sans"), url("@/assets/fonts/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-weight: bold;
    font-style: normal;
    src: local("Noto Sans"), url("@/assets/fonts/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Mont";
    font-weight: bold;
    font-style: normal;
    src: local("Montserrat Alternates"), url("@/assets/fonts/MontserratAlternates-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Recipe korea";
    font-weight: normal;
    font-style: normal;
    src: local("Recipe korea"), url("@/assets/fonts/Recipekorea.ttf") format("truetype");
}

:root {
    --font-noto-sans: "Noto Sans";
    --font-mont: "Mont";
    --font-recipekorea: "Recipe korea";
    --normal: #464748;
    --primary: #7796e8;
    --secondary: #0d6db7;
    --accent: #f77d7d;
}

html,
body {
    font-family: var(--font-noto-sans);
    color: var(--normal);
    margin: 0;
    padding: 0;
    min-width: 340px;
    word-break: break-all;
}

.toolbar {
    min-width: 340px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
}
