@font-face {
    font-family: "Noto Sans"; 
    font-weight: normal; 
    font-style: normal;
    src: local("Noto Sans"), url("../fonts/NotoSans-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "Noto Sans"; 
    font-weight: bold; 
    font-style: normal;
    src: local("Noto Sans"), url("../fonts/NotoSans-Bold.ttf") format("truetype")
}

@font-face {
    font-family: 'Mont';
    font-weight: bold;
    font-style: normal;
    src: local("Montserrat Alternates"), url('../fonts/MontserratAlternates-Bold.ttf') format('truetype');
}

:root {
    --font-noto-sans: "Noto Sans";
    --font-mont: "Mont";
    --normal: #464748;
    --primary: #7796E8;
    --secondary: #0D6DB7;
    --accent: #F77D7D;
}

html, body {
    font-family: var(--font-noto-sans);
    color: var(--normal);
    margin: 0;
    padding: 0;
}